.pagButton {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #282c34;
    color: white;
    padding: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
}

.pagButton:hover {
    color: white;
}

.pagNav {
    display: flex;
    flex-direction: row;
    justify-content: right;
}